.dashboardpage-maincontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.dashboardpage-container {
  width: 95%;
  height: 100%;
}
.dashboardpage-greetingcontainer {
  margin-top: 25px;
  width: 100%;
  height: 25%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
  color: #35393d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #246bfb;
}
.dashboardpage-greetingtext {
  margin: 0;
  font-size: 30px;
}
.dashboardpage-welcometext {
  margin: 0;
  font-size: 40px;
}
.dashboardpage-informationcontainer {
  margin-top: 25px;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}
.dashboardpage-viewcountcontainer,
.dashboardpage-copylinkcontainer {
  border-radius: 10px;
  word-break: break-all;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  color: #35393d;
  width: 25%;
  border: 2px solid #a2a2a8;
}
.dashboardpage-viewcountcontainer-viewtext {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboardpage-viewcountcontainer-counttext {
  margin: 0;
  font-size: 150px;
}
.dashboardpage-viewcountcontainer-linktext a {
  text-decoration: none;
  color: #246bfb;
  font-size: 20px;
}
.dashboardpage-viewcountcontainer-viewtext svg {
  transition: 0.2s ease-in-out;
}
.dashboardpage-viewcountcontainer-viewtext svg:hover {
  color: #246bfb;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .dashboardpage-greetingtext {
    font-size: 25px;
  }
  .dashboardpage-welcometext {
    font-size: 30px;
  }
  .dashboardpage-informationcontainer {
    flex-direction: column;
  }
  .dashboardpage-viewcountcontainer,
  .dashboardpage-copylinkcontainer {
    width: 100% !important;
    margin: 10px 0;
  }
  .dashboardpage-viewcountcontainer-viewtext {
    font-size: 16px;
  }
  .dashboardpage-viewcountcontainer-counttext {
    font-size: 120px;
  }
  .dashboardpage-viewcountcontainer-linktext a {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .dashboardpage-greetingcontainer {
    height: 20%;
  }
  .dashboardpage-viewcountcontainer,
  .dashboardpage-copylinkcontainer {
    width: 45%;
  }
  .dashboardpage-maincontainer {
    height: 90vh;
  }
}
